<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yueqiu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeTabActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BilliardGroupActivity"
            android:label="@string/title_activity_billiard_group">
        </activity>
        <activity
            android:name=".BilliardSearchActivity"
            android:label="@string/title_activity_billiard_search">
        </activity>

        <!--聊吧Activity-->
        <activity
            android:name=".ChatBarActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name=".ChatBarSearchResultActivity"/>
        <!--聊吧 END-->
        <activity android:name=".activity.searchmenu.RegisterActivity"/>
        <activity android:name=".activity.searchmenu.LoginActivity"/>
        <activity android:name=".ActivitiesActivity"/>
        <activity android:name=".activity.searchmenu.ActivitiesIssueActivity"/>
    </application>

</manifest>


