<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yueqiu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".YueQiuApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BilliardGroupActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".BilliardSearchActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        <activity
            android:name=".activity.searchmenu.nearby.SearchResultActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- 聊吧Activity -->
        <activity android:name=".ChatBarActivity" />
        <activity android:name=".ChatBarSearchResultActivity" />
        <activity android:name=".ChatBarSearchActivity" />
        <!--聊吧 END-->

        <activity android:name=".ActivitiesActivity" />

        <!-- 侧滑Menu -->
        <activity android:name=".activity.searchmenu.ActivitiesIssueActivity" />
        <activity android:name=".activity.searchmenu.FeedbackActivity" />
        <activity android:name=".activity.searchmenu.MyProfileActivity" />
        <activity android:name=".ProfileSetupActivity"/>
        <activity android:name=".activity.searchmenu.MyfavorCollActivity" />
        <activity android:name=".activity.searchmenu.PublishedInfoActivity" />

        <activity
            android:name=".activity.searchmenu.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.searchmenu.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.searchmenu.ActivitySelectSex"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.searchmenu.MyParticipationActivity"/>
        <activity
            android:name=".activity.searchmenu.nearby.SearchBilliardsDatingActivity"
            android:label="@string/title_activity_billiards_dating">
        </activity>
        <activity
            android:name=".activity.searchmenu.nearby.SearchBilliardRoomActivity"
            android:label="@string/title_activity_search_billiard_room">
        </activity>


    </application>

</manifest>
