<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yueqiu" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".YueQiuApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BilliardGroupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- 程序初始启动时显示的SplashScreen -->
        <activity
            android:name=".YueQiuSplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BilliardNearbyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SearchResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- 聊吧Activity -->
        <activity
            android:name=".ChatBarActivity"
            android:parentActivityName=".BilliardNearbyActivity"
            android:screenOrientation="portrait" >

            <!-- 4.1 以下的版本需要使用meta-data元素 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BilliardNearbyActivity" />
        </activity>
        <activity
            android:name=".activity.FriendSetGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FriendsApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestAddFriendActivity"
            android:screenOrientation="portrait" />

        <!-- 聊吧 END -->

        <activity
            android:name=".activity.PlayBusinessActivity"
            android:screenOrientation="portrait" />

        <!-- 侧滑Menu -->
        <activity
            android:name=".activity.PlayIssueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.UpgradeAssistantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileSetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyParticipationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishedInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayDetailActivity"
            android:label="@string/activities_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaySelectType"
            android:label="@string/type"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectChargeModuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaySelectSex"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NearbyBilliardsDatingActivity"
            android:label="@string/title_activity_billiards_dating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupIssueTopic"
            android:label="@string/billiard_group_issue_article"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.GroupSelectTopicTypeActivity"
            android:parentActivityName=".activity.GroupIssueTopic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GetCaptchaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Register1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleReadActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".im.ChatPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".im.ShowBigImage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 服务组件 -->
        <service android:name=".util.LocationUtil" />
        <service android:name=".im.GotyeService" />

        <!-- 开机启动IM服务 -->
        <receiver android:name=".im.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.BilliardGroupDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NearbyBilliardRoomActivity"
            android:parentActivityName=".BilliardNearbyActivity"
            android:screenOrientation="portrait" >
            <!--
                 添加对于新浪微博返回值的监听, 当我们使用新浪微博官方提供的
                 API进行分享请求时，我们就需要添加以下的intent-filter用于监听分享的
                 回调情况
            -->
            <!-- <intent-filter> -->
            <!-- <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 这是我们用于调用的新浪微博的Activity -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 用于腾讯微博的分享的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104270786" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.WeiboShareActionCompleteActivity"
            android:label="@string/title_activity_weibo_share_action_complete" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BilliardsRoomWebViewActivity"
            android:label="@string/title_activity_billiards_room_web_view"
            android:parentActivityName=".BilliardNearbyActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
